{% extends 'layout.html' %}

{% block title %} User Profile {% endblock %}

{% block content %}
  <h1>प्रयोगकर्ता प्रोफाइल</h1>
  
  <div class="profile-details">
    <h2>{{ user.username }}</h2>
    
    <div class="profile-info">
      <p><strong>भूमिका:</strong> {{ user.profile.get_role_display }}</p>
      <p><strong>शहर:</strong> {{ user.profile.city }}</p>
      <p><strong>फोन नम्बर:</strong> {{ user.profile.phone_number }}</p>
    </div>
    
    <div class="profile-actions">
      <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-button">लग आउट</button>
      </form>
    </div>
  </div>
{% endblock %}