<!DOCTYPE html>
<html lang="ne">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav class="py-5 px-5 flex justify-between items-center border-b" style="background-color: rgb(26, 134, 82);">

    <div class="flex space-x-4 items-center">
      <a href="/" class="px-4 py-2 bg-green-600 text-white rounded-xl hover:bg-green-700 transition font-semibold">
        गृहपृष्ठ फर्किनुहोस्
      </a>
    </div>

    <div class="text-center text-4xl font-bold text-green-300">
      बजारमा स्वागत छ !
    </div>


    <div class="flex space-x-4 items-center">
      <a href="{% url 'chat:inbox' %}" class="bg-white border border-green-600 text-green-700 px-4 py-2 rounded-xl font-semibold hover:bg-green-100 transition">
        Inbox
      </a>
      {% if request.user.is_authenticated and request.user.profile.role == 'farmer' %}
        
       
        <a href="{% url 'item:newitem' %}" class="bg-white border border-green-600 text-green-700 px-4 py-2 rounded-xl font-semibold hover:bg-green-100 transition">
          ➕ सामाग्री थप्नुहोस्
        </a>
        

      {% endif %}
    </div>
  </nav>

  <div class="px-6 py-6">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>