
{%extends 'base.html'%}
{% block title%}Inbox{%endblock%}
{%block content%}
<h1 class="mb-6 text-3xl ">Chat</h1>
<div classs="space-y-6">
  {% for message in chat.messages.all %}
    <div class="p-6 flex {%if message.created_by == request.user %}bg-blue-100 {%else%} bg-gray-100 {% endif %} rounded-xl">
      <div>
        <p class="mb-4 "> <strong>
          {{message.created_by.username}}
        </strong>@{{message.created_at}}</p>
      <p>{{message.content}}</p>

      </div>
    </div>
   {%endfor%}
</div>

{% if request.user == chat.item.created_by and not chat.is_delivered %}
  <form method="post" action="{% url 'chat:mark_delivered' chat.id %}">
    {% csrf_token %}
    <button type="submit">Mark as Delivered</button>
  </form>
{% elif chat.is_delivered %}
  <p><strong>Delivered on:</strong> {{ chat.delivered_at }}</p>
{% endif %}

<form method="post" action="." class="mt-6">
  {% csrf_token%}
  {{form.as_p}}
  <button class=" py-4 px-8 text-lg bg-lime-500 hover:bg-lime-700 rounded-xl text-white ">Submit</button>
</form>
{%endblock%}