{% extends 'layout.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
Posts 
{% endblock %}

{% block content %}
    <section>
    <h1>पोस्टहरू</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'posts:new-post' %}" class="new-post-button"> 
            
          <span title="नयाँ पोस्ट सिर्जना गर्नुहोस्">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="45" height="45">
                <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
              </svg>
          </span>
        </a>
    {% endif %}
<form method="get" style="margin-bottom: 1rem;">
  <select name="sort" id="sort" onchange="this.form.submit()">
    <option value="date" {% if selected_sort == "date" %}selected{% endif %}> हालको पोस्ट</option>
    <option value="likes" {% if selected_sort == "likes" %}selected{% endif %}>धेरै मन पराइएका</option>
    <optgroup label="श्रेणी छान्नुहोस्">
  {% for cat in all_categories %}
    <option value="category:{{ cat }}" {% if selected_sort == "category:"|add:cat %}selected{% endif %}>
      {{ category_translations|get_item:cat }}
    </option>
  {% endfor %}
</optgroup>
  </select>
</form>

{% for post in posts %}
    <div class="post-preview {% if post.category == 'important' %}important-post{% endif %}">
        <h2>
            {% if post.slug %}
                <a href="{% url 'posts:page' slug=post.slug %}">
                    <h1>{{ post.title }}</h1>
                </a>
            {% else %}
                {{ post.title }}
            {% endif %}
        </h2>
        <p> {{ post.get_category_display }} </p>
        <p>{{ post.date }}</p>
        <p> प्रकाशक : {{ post.author }}</p>
        <hr>
        <p>{{ post.body }}</p>
    </div>
{% endfor %}

    </section>
{% endblock %}