* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    color: black;
    font-size: 3rem;
}

nav {
    padding: 1rem;
    background-color: #07d133;
    color: white;
    display: flex;
    justify-content: left;
    gap: 1rem;
 }

main {
    padding: 1rem;
}

section {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

h1{
    font-size: 3rem;
    color: #07d133;
}
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #63e55f;
}

a:hover {
    opacity: .85;
}

.banner {
    display: block;
    width: 100%;
    max-width: 800px;
}

.form-with-validation {
    max-width: 600px;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.form-with-validation input {
    padding: 0.25rem;
    max-width: 300px;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    border-color: #07d133;
    color:#2a803e;
}
.form-submit:hover {
    background-color: #07d133;
    color: white;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
}


.logout {
    display: inline-block;
}

.logout-button {
    font-size: 2.5rem;
    background-color: #07d133;
    color:#7ed879;
    border: none;
}

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6cff6c;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    height: 150px;
    transition: background-color 0.2s ease;
  }

  .feature-item:hover {
    background-color: #6cff50;
    color: #ffffff;
  }

  .feature-item svg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    color: white;
  }

  .feature-item div {
    font-size: 16px;
    line-height: 1.2;
  }

  @media (max-width: 600px) {
    .feature-grid {
      grid-template-columns: 1fr;
    }
  }
.post-container {
    display: flex;
    flex-direction:column;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    background-color: rgb(186, 249, 191);
    color:#5cd84e;
    border-radius: 1rem;

}  
.post-container h1 {
    font-size: 3rem;
    color: #5cd84e;
}
.post-container img {
    max-width: fit-content;
    max-height: fit-content;
    height: auto;
    border-radius: 10px;
    align-self: center;
}
.reply-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    background-color: rgb(210, 248, 213);
    color:#5cd84e;
    font-size: 1rem;
    border-radius: 1rem;
}
.reply-container h2 {
    font-size: 1rem;
    font-weight: bold;
    
}
.reply-container h3 {
    font-size:smaller;
}

.new-post-button {
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    align-content:center;
    background-color: white;
    color: #5cd84e;
    border-style: dotted;
    border-color: #5cd84e;
    border-radius: 1rem;
    font-size: small;
    max-height: min-content;
    max-width: fit-content;
}

.new-post-button:hover{
    background-color: rgb(186, 249, 191);
    color:#5cd84e;
    border-style: solid;
}

.post-preview {
    display: flex;
    flex-direction:column;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    background-color: white;
    color: #5cd84e;
    border-radius: 1rem;
    border-style:groove;
    border-color: #5cd84e;
}
.post-preview:hover {
    background-color: rgb(192, 255, 197);
    color:#5cd84e;
    border-style: solid;
    border-color: #5cd84e;
}
.login-button {
    padding: 1rem;
    margin: auto;
    background-color: white;
    color: #5cd84e;
    border-color: #5cd84e;
    border-radius: 1rem;
    font-size: small;
    max-height: min-content;
    max-width: min-content;
}
.login-button:hover{
    background-color: #5cd84e;
    color:white;
    border-style: solid;
}